CompileFlags:
  Add: [-std=gnu++23, -Wno-unused-parameter, -Wno-unused-variable, -Wno-unused-const-variable, -Wno-unused-but-set-variable, -Wno-reorder-ctor]
Diagnostics:
  Suppress: [unused-parameter, unused-variable, unused-const-variable]
